# Patterns

### Introduction to Patterns

How to approach problems to make easy writting of code. If user input is 4 (N=4), and we want output:
<br> * * * * </br>
<br> * * * * </br>
<br> * * * * </br>
<br> * * * * </br>
<br> 4 row and 4 column. </br>
<br> Pattern can be square, triangle, rectangle.</br>
<br> We have to give answer of 4 question: </br>
<br>(1) How many rows, we need to print?</br>
<br>(2) How many columns, we need to print....X..... For generic ith row, How many column we need to print, that should be the answer?</br>
<br>(3) What do we need to print? For every ith row and jth column, character can be different. It can be function(N,i,j)</br>

* * * *
* * * *
* * * *
* * * *

In [2]:
n=int(input())
i=1
while i<=n:
    j=1
    while j<=n:
        #print jth column
        print("*")
        j+=1
    print() 
    i+=1

4
*
*
*
*

*
*
*
*

*
*
*
*

*
*
*
*

We don't want to print enter. To make it correct, we need to end with the empty string.

In [4]:
n=int(input())
i=1
while i<=n:
    j=1
    while j<=n:
        #print jth column
        print("*", end='')
        j+=1
    print() 
    i+=1

6
******
******
******
******
******
******

### Code: Square Pattern

In [8]:
n=int(input())
i=1
while i<=n:
    j=1
    while j<=n:
        #print jth column
        print(n, end='')
        j+=1
    print() 
    i+=1

4
4444
4444
4444
4444

Square Patterns

1st Pattern: (1) N (2) N (3) i
1111
2222
3333
4444

2nd Pattern: (1) N (2) N (3) j
1234
1234
1234
1234

3rd Pattern: (1) N (2) N (3) N-j+1
4321
4321
4321
4321

In [10]:
# 1st Pattern: 
n=int(input())
i=1
while i<=n:
    j=1
    while j<=n:
        #print jth column
        print(i, end='')
        j+=1
    print() 
    i+=1

4
1111
2222
3333
4444

In [12]:
# 2nd Pattern:
n=int(input())
i=1
while i<=n:
    j=1
    while j<=n:
        #print jth column
        print(j, end='')
        j+=1
    print() 
    i+=1

4
1234
1234
1234
1234

In [14]:
# 3rd Pattern:
n=int(input())
i=1
while i<=n:
    j=1
    while j<=n:
        #print jth column
        print(n-j+1, end='')
        j+=1
    print() 
    i+=1

4
4321
4321
4321
4321

### Triangular Patterns

1st Pattern: (1) N (2) i (3) j
1
12
123
1234

2nd Pattern: (1) N (2) i (3) ith row, k=i
1
23
345
4567

3rd Pattern: (1) N (2) i (3)
1
23
456
78910

In [17]:
# 1st Pattern
n=int(input())
i=1
while i<=n:
    j=1
    while j<=i:
        #print jth column
        print(j, end='')
        j+=1
    print() 
    i+=1

3
1
12
123

In [19]:
# 2st Pattern
n=int(input())
i=1
while i<=n:
    j=1
    p=i # here we are resetting p for every row
    while j<=i:
        #print jth column
        print(p, end='')
        j+=1
        p+=1
    print() 
    i+=1

4
1
23
345
4567

In [1]:
# 3rd Pattern
n=int(input())
i=1
p=1 # here we are not resetting p
while i<=n:
    j=1
    while j<=i:
        #print jth column
        print(p, end='')
        j+=1
        p+=1
    print() 
    i+=1

5
1
23
456
78910
1112131415

###### Code: Triangular Star Pattern

In [3]:
n=int(input())
i=1
while i<=n:
    j=1
    while j<=i:
        #print jth column
        print('*', end='')
        j+=1
    print() 
    i+=1

5
*
**
***
****
*****

###### Code: Triangle Number Pattern

In [7]:
n=int(input())
i=1
while i<=n:
    j=1
    while j<=i:
        #print jth column
        print(i, end='')
        j+=1
    print() 
    i+=1

4
1
22
333
4444

###### Code: Reverse Number Pattern

In [10]:
n=int(input())
i=1
while i<=n:
    j=i
    while j>=1:
        #print jth column
        print(j, end='')
        j-=1
    print() 
    i+=1

4
1
21
321
4321

### Character Patterns

1st Pattern: (1) N (2) N (3) 'A'+i-1
ABCD
ABCD
ABCD
ABCD

To get B, we need to print 'A'+1

2nd Pattern: (1) N (2) N (3) 
ABCD
BCDE
CDEF
DEFG

k=int(input())
'A'+k-1
when we store 'A', it means we store ASCII value. So, the characters are represented by ASCII Value. 
(1) 1st find the ASCII value of 'A'
(2) Add k-1 in it.
(3) Find Char corresponding to number in (2).

In [14]:
# 1st Method: ord gives the ASCII value of a character.
# 2nd Method: chr gives the character corresponding to ASCII value.
ord('B')
#chr(66)

66

In [16]:
# print kth alphabet
k=int(input())
x=ord('A')
asciiTarget=x+k-1
targetChar=chr(asciiTarget)
targetChar

2

'B'

In [18]:
# 1st Pattern: 
n=int(input())
i=1
while i<=n:
    j=1
    while j<=n:
        #print jth column
        charP=chr(ord('A')+j-1)
        print(charP, end='')
        j+=1
    print() 
    i+=1

4
ABCD
ABCD
ABCD
ABCD

In [24]:
# 2nd Pattern: 
n=int(input())
i=1
while i<=n:
    j=1
    start_char=chr(ord('A')+i-1)
    while j<=n:
        #print jth column
        charP=chr(ord(start_char)+j-1)
        print(charP, end='')
        j+=1
    print() 
    i+=1

4
ABCD
BCDE
CDEF
DEFG

###### Code: Alpha Pattern

In [26]:
n=int(input())
i=1
while i<=n:
    j=1
    while j<=i:
        #print jth column
        charP=chr(ord('A')+i-1)
        print(charP, end='')
        j+=1
    print() 
    i+=1

4
A
BB
CCC
DDDD

###### Code : Character Pattern

In [29]:
n=int(input())
i=1
while i<=n:
    j=1
    start_char=chr(ord('A')+i-1)
    while j<=i:
        #print jth column
        charP=chr(ord(start_char)+j-1)
        print(charP, end='')
        j+=1
    print() 
    i+=1

4
A
BC
CDE
DEFG

###### Code: Interesting Alphabets

In [36]:
n=int(input())
i=1
while i<=n:
    j=1
    start_char=chr(ord('A')+n-i)
    while j<=i:
        #print jth column
        charP=chr(ord(start_char)+j-1)
        print(charP, end='')
        j+=1
    print() 
    i+=1

5
E
DE
CDE
BCDE
ABCDE

### Inverted Pattern

1st Pattern: (1) N (2) N-i+1 (3) *
****
***
**
*

In [38]:
n=int(input())
i=1
while i<=n:
    j=1
    while j<=n-i+1:
        print('*', end="")
        j+=1
    print()
    i+=1

4
****
***
**
*

###### Code : Inverted Number Pattern

In [39]:
n=int(input())
i=1
while i<=n:
    j=1
    while j<=n-i+1:
        print(n-i+1, end="")
        j+=1
    print()
    i+=1

4
4444
333
22
1

### Reversed Pattern

Pattern : (1) N (2) N
    *  1st row has 3 spaces
   **  2nd row has 2 spaces
  ***  3rd row has 1 spaces
 ****  4th row has 0 spaces
 Once we have done printing spaces, then we need to print *.

In [2]:
n=int(input())
i=1
while i<=n:
    spaces=1
    while spaces<=n-i:
        print(' ',end="")
        spaces+=1
    stars=1
    while stars<=i:
        print('*',end="")
        stars=stars+1
    print()
    i+=1

4
   *
  **
 ***
****

###### Code: Mirror Number Pattern

In [6]:
n=int(input())
i=1
while i<=n:
    spaces=1
    while spaces<=n-i:
        print(' ',end="")
        spaces+=1
    j=1
    while j<=i:
        print(j,end="")
        j=j+1
    print()
    i+=1

4
   1
  12
 123
1234

### Isosceles Pattern

N=4
    1
   121
  12321
 1234321
We can break the problem in 3 part: spaces, increasing number, decreasing number.

In [1]:
n=int(input())
i=1
while i<=n:
    spaces=1
    # spaces
    while spaces<=n-i:
        print(' ',end="")
        spaces+=1
    p=1
    j=1
    while j<=i:
        print(p,end="")
        j+=1
        p+=1
    # decreasing seq
    p=i-1
    while p>=1:
        print(p,end='')
        p=p-1
    print() # for next line
    i+=1

5
    1
   121
  12321
 1234321
123454321

### Code: Star Pattern

In [2]:
n=int(input())
i=1
while i<=n:
    spaces=1
    # spaces
    while spaces<=n-i:
        print(' ',end="")
        spaces+=1
    p=1
    j=1
    while j<=i:
        print("*",end="")
        j+=1
        p+=1
    # decreasing seq
    p=i-1
    while p>=1:
        print("*",end='')
        p=p-1
    print() # for next line
    i+=1

4
   *
  ***
 *****
*******

### Code: Triangle of Numbers

In [4]:
n=int(input())
i=1
while i<=n:
    spaces=1
    # spaces
    while spaces<=n-i:
        print(' ',end="")
        spaces+=1
    p=i
    j=1
    while j<=i:
        print(p,end="")
        j+=1
        p+=1
    # decreasing seq
    p=2*(i-1)
    while p>=i:
        print(p,end='')
        p=p-1
    print() # for next line
    i+=1

4
   1
  232
 34543
4567654

### Code : Diamond of stars

In [8]:
n = int(input())
i = 1
n1 = (n+1)/2
n2 = n/2
while i<n1:
    spaces = 1
    while spaces <= n1-i:
        print(' ',end="")
        spaces+=1
    j = 1
    while j<=i:
        print("*",end="")
        j+=1
    j-=2
    while j>=1:
        print("*",end="")
        j-=1
    print()
    i+=1
m = 1
while m<n2:
    mspaces = 1
    while mspaces <= m:
        print(' ',end="")
        mspaces+=1
    mj = 1
    while mj<=n2-m+1:
        print("*",end="")
        mj+=1
    mj-=2
    while mj>=1:
        print("*",end="")
        mj-=1
    print()
    m+=1

4
 *
***
 ***