# SQLite

- relational database management system based on SQL language.
- self contained, serverless and zero-confrigation.
- very fast and lightweight, and entire database is stored in a single disk file.
- SQLite means light weight in terms of setup, database administration, and required resources.
- used in a lot of applications as internal data storage.

Two SQLite Libraries:
    - mysqlalchemy
    - sqlite3

#### Connect with database

In [ ]:
import sqlite3
# path of file
db=sqlite3.connect('IMDB.sqlite')
db # to check the connection

In [ ]:
db=sqlite3.connect('IMDB_2.sqlite') #it check if not connected then it will create new file with this name.
db

In [ ]:
import sqlite3
db = sqlite3.connect('School.sqlite')
db

In [ ]:
db.cursor()

In [ ]:
cur = db.cursor()
cur

In [ ]:
sql_query = 'Create table School2(RollNumber int Primary key, Name Text, Age int)'
cur.execute(sql_query)

In [ ]:
cur.execute('Insert into School2 values (101, "Aman", 20)')

In [ ]:
db.commit()

In [ ]:
cur = db.cursor()
cur

In [ ]:
cur.execute('Insert into Student2 values (103, "Mohit", 20)')

In [ ]:
cur.execute('Select * from Student2')

### SQLite with Pandas

In [ ]:
import sqlite3
import pandas as pd

db = sqlite3.connect('School.sqlite')

In [ ]:
data = pd.read_sql_query("Select * from Student",db)
data

In [ ]:
data['Age']== 30 # which row is satifying condition

In [ ]:
data[data['Age']== 30] # print only that row which is satisfying condition

In [ ]:
data = pd.DataFrame([[201, "Aman", "English", 20000],[202, "Komal", "Maths", 22000],[203, "Mahesh", "Science", 23000]],
                   columns=["ID","Name","Course","Salary"])
data

data.to_sql("Faculty",db) # in dataframe db

data = pd.read_sql_query("Select * from Student", db)
data["Address"]="Test"
data.to_sql("Student", db, if_exists = "replace")

### Finance Employee SQLite

Find the employee_id of employee whose is working in Finance Department in Investment firm from Employee SQLite Database.
Print the employee_id as integer value

In [ ]:
import sqlite3
db = sqlite3.connect('Employee.sqlite')
cur = db.cursor()
cur.execute('create table Employee_Details3(employeeid int primary key, name varchar(100),age int,department varchar(100),salary int)')
values = [(100,"Rishav",25,"Marketing",50000),(101,"Adarsh",25,"Marketing",50000),(102,"Aarti",27,"Operations",6000),(103,"Siddharth",25,"Finance",85000),
         (104,"Aman",24,"Human Resource",75000),(105,"Amit",30,"Marketing",50000),(106,"Shivansh",26,"IT",90000),
          (107,"Vaibhav",23,"Finance",85000),(108,"Himanshu",26,"IT",90000),(109,"Raman",25,"Operations",60000),
          (110,"Kunal",26,"Marketing",50000),(111,"Adhira",29,"Human Resources",75000),(112,"Tanya",24,"Marketing",50000)]

cur.executemany('insert into Employee_Details3 values(?,?,?,?,?)',(values))
db.commit()

cur.execute('select employeeid from Employee_Details3 where department = "Finance"')
a = cur.fetchall()
for i in a:
    for j in i:
        print(j)

### Find Employee

Find the number of employee working in different department in an investment firm from Employee SQLite Database.
Print the department and number of employee

In [ ]:
import sqlite3
db = sqlite3.connect('Employee.sqlite')
cur = db.cursor()
cur.execute('create table Employee_Details(employeeid int primary key, name varchar(100),age int,department varchar(100),salary int)')
values = [(101,"Adarsh",25,"Marketing",50000),(102,"Aarti",27,"Operations",6000),(103,"Siddharth",25,"Finance",85000),
         (104,"Aman",24,"Human Resource",75000),(105,"Amit",30,"Marketing",50000),(106,"Shivansh",26,"IT",90000),
          (107,"Vaibhav",23,"Finance",85000),(108,"Himanshu",26,"IT",90000),(109,"Raman",25,"Operations",60000),
          (110,"Kunal",26,"Marketing",50000),(111,"Adhira",29,"Human Resource",75000),(112,"Tanya",24,"Marketing",50000)]

cur.executemany('insert into employee_Details values(?,?,?,?,?)',(values))
db.commit()

cur.execute('select distinct department,count(*) from employee_Details group by department')
a = cur.fetchall()

for i in a:
    for j in i:
        print(j,end=" ")
    print()

### Count Genre

IMDB.sqlite' database contains all details of movies and has three tables with name IMDB, genre and earning.
Find the count of each genre present in IMDB movie dataset?
Print the Genre and number of movies present in that genre.
Note: Ignore the empty value present in genre.

In [ ]:
import sqlite3
import pandas as pd

db = sqlite3.connect('IMDB.sqlite')
data = pd.read_sql_query('select * from genre',db)

data = data['genre'].value_counts()
genre = data.index
count = data.values
for i in range(len(genre)):
    if(genre[i]==""):
        continue;
    print(genre[i],count[i],end = "")
    print()

### IMDB Movie

IMDB.sqlite' database contains all details of movies and has three tables with name IMDB, genre and earning.
Find the highest-grossing movie (i.e domestic earning + worldwide earning) in IMDB database.
Print the rating of that movie.

In [ ]:
import sqlite3
import pandas as pd
db = sqlite3.connect('IMDB.sqlite')

imdb = pd.read_sql_query("Select * from imdb", db)
genre = pd.read_sql_query("Select * from genre", db)
earning = pd.read_sql_query("Select * from earning", db)
# print(imdb)
# print(earning)
earning["Total"] = earning.Domestic+earning.Worldwide
max = max(list(earning.Total.values))
max_id = earning[earning.Total==max].Movie_id.iloc[0]
rating = imdb[imdb.Movie_id==max_id].Rating.iloc[0]
print(rating)

### IMDB Voted

IMDB.sqlite' database contains all details of movies and has three tables with name IMDB, genre and earning.
Find the most voted movie in IMDB Movie Database.
Print the movie name and the rating of that movie.

In [ ]:
import pandas as pd
import sqlite3
import numpy as np
db=sqlite3.connect('IMDB.sqlite')
imdb=pd.read_sql_query("Select * from IMDB",db)
earning=pd.read_sql_query("Select * from earning",db)
genre=pd.read_sql_query("Select * from genre",db)
max_vote=max(imdb['TotalVotes'].values)
movie_name=imdb[imdb['TotalVotes']==max_vote].values
print(movie_name[0][1],movie_name[0][2])

### IMDB running time

IMDB.sqlite database contains all details of movies and has three tables with name IMDB, genre and earning.
Find the Movie with Longest-Running Time from IMDB Movie database.
Print the name of movie and running time as integer value.
Note: Don't print 'min' in running time.

In [2]:
import pandas as pd 
import sqlite3 
db=sqlite3.connect('IMDB.sqlite') 
imdb=pd.read_sql_query("Select * from IMDB",db) 
earning=pd.read_sql_query("Select * from earning",db) 
genre=pd.read_sql_query("Select * from genre",db) 
def getTime(time): 
    return int(time.split(' ')[0]) 
imdb['Runtime'].replace('','0',inplace=True) 
imdb['Runtime']=imdb['Runtime'].apply(getTime) 
long_runtime=imdb[imdb['Runtime']==max(imdb['Runtime'])] 
print(long_runtime['Title'].values[0],long_runtime['Runtime'].values[0])

The Wolf of Wall Street (2013) 180

### IMDB profit

IMDB.sqlite database contains all details of movies and has three tables with name IMDB, genre and earning.
Find the movie which has maximum net profit in IMDB Movie Database.
Print the movie name.
Note: Net Profit= Total Earning(Domestic+WorldWide earning) - budget

In [3]:
import pandas as pd
import sqlite3
import numpy as np
db=sqlite3.connect('IMDB.sqlite')
imdb=pd.read_sql_query("Select * from IMDB",db)
earning=pd.read_sql_query("Select * from earning",db)
genre=pd.read_sql_query("Select * from genre",db)
index=imdb[imdb['Budget']==''].index
imdb.drop(index,inplace=True)
earning['Total Earning']=earning['Domestic']+earning['Worldwide']
result = pd.merge(imdb,earning,on='Movie_id')
result['Profit']=result['Total Earning']-result['Budget']
movie_name=result[result['Profit']==max(result['Profit'])].values[0]
print(movie_name[1])

Star Wars: The Force Awakens (2015)

### IMDB least budget

IMDB.sqlite database contains all details of movies and has three tables with name IMDB, genre and earning.
Find the least budgeted movie in IMDB Movie Database.
If there is more than one least budgeted movies then print the movie which has maximum net profit.
Note: Net Profit= Total Earning(Domestic+WorldWide earning) - budget

In [4]:
import pandas as pd
import sqlite3
import numpy as np
db=sqlite3.connect('IMDB.sqlite')
imdb=pd.read_sql_query("Select * from IMDB",db)
earning=pd.read_sql_query("Select * from earning",db)
genre=pd.read_sql_query("Select * from genre",db)
imdb_earning=pd.merge(imdb,earning,on='Movie_id')
imdb_earning['Domestic'].replace('',0,inplace=True)
imdb_earning['Worldwide'].replace('',0,inplace=True)
imdb_earning['Total Earning']=imdb_earning['Domestic']+imdb_earning['Worldwide']
imdb_earning['Budget'].replace('',0,inplace=True)
least_budget=imdb_earning[imdb_earning['Budget']==sorted(imdb_earning['Budget'].values)[3]].values
profit_1_movie=least_budget[0][54]-least_budget[0][5]
profit_2_movie=least_budget[1][54]-least_budget[1][5]
if profit_1_movie > profit_2_movie:
    print(least_budget[0][1])
else:
    print(least_budget[1][1])

Short Term 12 (2013)

### IMDB Year Top

IMDB.sqlite' database contains all details of movies and has three tables with name IMDB, genre and earning.
Find the highest-grossing movie (i.e domestic earning + worldwide earning) in IMDB database year wise.
Print the Year and name of the movie which was the highest grosser in that year.
Note:Print the year in ascending order.

In [6]:
import pandas as pd
import sqlite3
import numpy as np
db=sqlite3.connect('IMDB.sqlite')
imdb=pd.read_sql_query("Select * from IMDB",db)
earning=pd.read_sql_query("Select * from earning",db)
genre=pd.read_sql_query("Select * from genre",db)
imdb_earning=pd.merge(imdb,earning,on='Movie_id')
imdb_earning['Domestic'].replace('',0,inplace=True)
imdb_earning['Worldwide'].replace('',0,inplace=True)
imdb_earning['Total Earning']=imdb_earning['Domestic']+imdb_earning['Worldwide']
def findYear(title):
    return int(title.split('(')[-1][:-1])
imdb_earning['Year']=imdb_earning['Title'].apply(findYear)
year=sorted(imdb_earning['Year'].value_counts().index)
for i in range(len(year)):
    earning=max(imdb_earning[imdb_earning['Year']==year[i]]['Total Earning'])
    print(year[i],imdb_earning[imdb_earning['Total Earning']==earning]['Title'].values[0])

2010 Toy Story 3 (2010)
2011 Rise of the Planet of the Apes (2011)
2012 The Avengers (2012)
2013 The Hunger Games: Catching Fire (2013)
2014 Guardians of the Galaxy (2014)
2015 Star Wars: The Force Awakens (2015)
2016 Rogue One (2016)

### IMDB genre budget

IMDB.sqlite' database contains all details of movies and has three tables with name IMDB, genre and earning.
Find out the percentage of the budget for each genre in IMDB Movie Dataset?Plot the pie chart.
Print the genre and percentage of movies budget present in that genre with 2 decimal place after rounding off..
Note: Movies has multiple genres, so calculate the percentage for each genre.Replace empty budget column to zero.

In [8]:
import pandas as pd 
import sqlite3 
import numpy as np 
db=sqlite3.connect('IMDB.sqlite') 
imdb=pd.read_sql_query("Select * from IMDB",db) 
earning=pd.read_sql_query("Select * from earning",db) 
genre=pd.read_sql_query("Select * from genre",db) 
movie_id=genre['Movie_id'].value_counts().index 
genre_array=[] 
for i in range(len(movie_id)): 
    single_genre=[] 
    single=genre[genre['Movie_id']==movie_id[i]]['genre'].values 
    single_genre.append(movie_id[i]) 
    for i in single: 
        single_genre.append(i) 
    genre_array.append(single_genre) 
new_genre=pd.DataFrame(genre_array,columns=['Movie_id','genre_1','genre_2','genre_3']) 
result = pd.merge(imdb,new_genre,on='Movie_id')
result['Budget'].replace('',0,inplace=True) 
genre_1_name=result.groupby('genre_1')['Budget'].sum().index 
genre_1_amount=result.groupby('genre_1')['Budget'].sum().values 
genre_2_name=result.groupby('genre_2')['Budget'].sum().index 
genre_2_amount=result.groupby('genre_2')['Budget'].sum().values 
genre_3_name=result.groupby('genre_3')['Budget'].sum().index 
genre_3_amount=result.groupby('genre_3')['Budget'].sum().values 
genre_name={} 
for i in range(len(genre_1_name)): 
    genre_name[genre_1_name[i]]=genre_1_amount[i] 
for i in range(len(genre_2_name)): 
    if genre_2_name[i] in genre_name: 
        genre_name[genre_2_name[i]]=genre_name.get(genre_2_name[i])+genre_2_amount[i] 
    else: genre_name[genre_2_name[i]]=genre_2_amount[i] 

for i in range(len(genre_3_name)): 
    if genre_3_name[i] in genre_name: 
        genre_name[genre_3_name[i]]=genre_name.get(genre_3_name[i])+genre_3_amount[i] 
    else: genre_name[genre_3_name[i]]=genre_3_amount[i] 

del genre_name[''] 
genre_names=np.array(list(genre_name.keys())) 
genre_amount=np.array(list(genre_name.values())) 
perAmount=np.true_divide(genre_amount, genre_amount.sum())*100 
for i in range(len(genre_names)): 
    print(genre_names[i],format(perAmount[i],'.2f'))

Action 17.98
Adventure 25.10
Animation 7.66
Biography 2.59
Comedy 7.22
Crime 1.77
Drama 10.85
Mystery 1.95
Family 1.91
Fantasy 4.54
History 0.72
Horror 0.03
Music 0.15
Musical 0.25
Romance 1.12
Sci-Fi 10.77
Sport 0.46
Thriller 3.99
War 0.36
Western 0.57

### IMDB genre earning

IMDB.sqlite' database contains all details of movies and has three tables with name IMDB, genre and earning.
Find out the percentage of the total earning for each genre in IMDB Movie Dataset?Plot the pie chart.
Print the genre and percentage of movies total earning present in that genre with 2 decimal place after rounding off.
Note: Movies has multiple genres, so calculate the percentage for each genre.Total Earning=Domestic earning + WorldWide earning.

In [9]:
import pandas as pd
import sqlite3
import numpy as np
db=sqlite3.connect('IMDB.sqlite')
imdb=pd.read_sql_query("Select * from IMDB",db)
earning=pd.read_sql_query("Select * from earning",db)
genre=pd.read_sql_query("Select * from genre",db)
movie_id=genre['Movie_id'].value_counts().index
genre_array=[]
for i in range(len(movie_id)):
    single_genre=[]
    single=genre[genre['Movie_id']==movie_id[i]]['genre'].values
    single_genre.append(movie_id[i])
    for i in single:
        single_genre.append(i)
    genre_array.append(single_genre)
new_genre=pd.DataFrame(genre_array,columns=['Movie_id','genre_1','genre_2','genre_3'])
result = pd.merge(imdb,new_genre,on='Movie_id')
imdb_earning_genre=pd.merge(result,earning,on='Movie_id')
imdb_earning_genre['Domestic'].replace('',0,inplace=True)
imdb_earning_genre['Worldwide'].replace('',0,inplace=True)
imdb_earning_genre['Total Earning']=imdb_earning_genre['Domestic']+imdb_earning_genre['Worldwide']
genre_1_name=imdb_earning_genre.groupby('genre_1')['Total Earning'].sum().index
genre_1_amount=imdb_earning_genre.groupby('genre_1')['Total Earning'].sum().values
genre_2_name=imdb_earning_genre.groupby('genre_2')['Total Earning'].sum().index
genre_2_amount=imdb_earning_genre.groupby('genre_2')['Total Earning'].sum().values
genre_3_name=imdb_earning_genre.groupby('genre_3')['Total Earning'].sum().index
genre_3_amount=imdb_earning_genre.groupby('genre_3')['Total Earning'].sum().values
genre_name={}
for i in range(len(genre_1_name)):
    genre_name[genre_1_name[i]]=genre_1_amount[i]
for i in range(len(genre_2_name)):
    if genre_2_name[i] in genre_name:
        genre_name[genre_2_name[i]]=genre_name.get(genre_2_name[i])+genre_2_amount[i]
    else:
        genre_name[genre_2_name[i]]=genre_2_amount[i]
for i in range(len(genre_3_name)):
    if genre_3_name[i] in genre_name:
        genre_name[genre_3_name[i]]=genre_name.get(genre_3_name[i])+genre_3_amount[i]
    else:
        genre_name[genre_3_name[i]]=genre_3_amount[i]
del genre_name['']
genre_names=np.array(list(genre_name.keys()))
genre_amount=np.array(list(genre_name.values()))
perAmount=np.true_divide(genre_amount, genre_amount.sum())*100
for i in range(len(genre_names)):
    print(genre_names[i],format(perAmount[i],'.2f'))

Action 17.91
Adventure 23.57
Animation 6.77
Biography 3.42
Comedy 7.69
Crime 1.55
Drama 11.96
Mystery 2.01
Family 1.05
Fantasy 5.15
History 1.04
Horror 0.01
Music 0.43
Musical 0.38
Romance 1.45
Sci-Fi 9.95
Sport 0.32
Thriller 4.42
War 0.25
Western 0.65

### IMDB Specific Genre

IMDB.sqlite' database contains all details of movies and has three tables with name IMDB, genre and earning.
Find the movie which has genre of 'Sci-Fi' and 'Mystery' and movie rating is greater or equal to 8 from IMDB Movie Database.
Print the movie name.
Movies has multiple genre.

In [10]:
import pandas as pd
import sqlite3
import numpy as np
db=sqlite3.connect('IMDB.sqlite')
imdb=pd.read_sql_query("Select * from IMDB",db)
earning=pd.read_sql_query("Select * from earning",db)
genre=pd.read_sql_query("Select * from genre",db)
movie_id=genre['Movie_id'].value_counts().index
genre_array=[]
for i in range(len(movie_id)):
    single_genre=[]
    single=genre[genre['Movie_id']==movie_id[i]]['genre'].values
    single_genre.append(movie_id[i])
    for i in single:
        single_genre.append(i)
    genre_array.append(single_genre)
new_genre=pd.DataFrame(genre_array,columns=['Movie_id','genre_1','genre_2','genre_3'])
result = pd.merge(imdb,new_genre,on='Movie_id')
imdb_earning_genre=pd.merge(result,earning,on='Movie_id')
imdb_earning_genre['Domestic'].replace('',0,inplace=True)
imdb_earning_genre['Worldwide'].replace('',0,inplace=True)
imdb_earning_genre['Total Earning']=imdb_earning_genre['Domestic']+imdb_earning_genre['Worldwide']
imdb_earning_genre['Budget'].replace('',0,inplace=True)
genre_sci=imdb_earning_genre[(imdb_earning_genre['genre_1']=='Sci-Fi')
                             | (imdb_earning_genre['genre_2']=='Sci-Fi')
                             | (imdb_earning_genre['genre_3']=='Sci-Fi')]
genre_sci_mystery=genre_sci[(genre_sci['genre_1']=='Mystery')|
                                     (genre_sci['genre_2']=='Mystery')|
                                     (genre_sci['genre_3']=='Mystery')]
movie_name=genre_sci_mystery[genre_sci_mystery['Rating']>=8].values[0]
print(movie_name[1])

Arrival (2016)

#### Thank You